<h1 class="text-center mt-4">Users List</h1>
<div class="apple_pagination">
    <%= will_paginate @users, :container => false %>
</div>
<div class="container">

	<% @users.each do |user| %>
		<div class="row justify-content-md-center">
			<div class="col-8 mt-4">
			<div class="shadow mb-5 bg-white rounded">
				<div class="card text-center">
				<div class="card-header font-italic">
					<%= user.username %>
				</div>
				<div class="card-body">
					<h5 class="card-title"><%= link_to user.username, user,  class:"text-success" %></h5>
					<p class="card-text"><%= link_to gravatar_for(user, size: 200), user %></p>
					<%= link_to "View", user_path(user), class: "btn btn-outline-success" %>
					<% if logged_in? %>
						<%if user == current_user %>
							<%= link_to "Edit", edit_user_path(user), class: "btn btn-outline-info" %>
						<% end %>
						<%if current_user.admin? %>
							<%= link_to "Delete", user_path(user), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
						<% end %>	
					<% end %>
				</div>
				<div class="card-footer text-muted">
					<small> Created <%= time_ago_in_words(user.created_at)%> ago
					</small>
				</div>
				</div>
			</div>
			</div>
		</div>
	<% end %>
</div>
<div class="apple_pagination">
    <%= will_paginate @users, :container => false %>
</div>